.cls-1 {
    stroke: url(#gradientStroke);
    stroke-miterlimit: 10;
}

.cls-1, .cls-2, .cls-3 {
    stroke-width: .5px;
}

.cls-2 {
    fill: #8f9bd4;
}

.cls-2, .cls-3 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-3 {
    fill: #34d399;
}